/*---------------------------stylos del blog--------------*/

body{
    text-align: left;
    margin: 0;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: .2px;
}

/*   ------styles barra de scroll-------*/

#body-scroll::-webkit-scrollbar{
    width: 11px;
    background-color: #facabc;
}

#body-scroll::-webkit-scrollbar-thumb{
    background-color: #ff9778;
    width: 9px;
    border-radius: 6px;
}

/*  -----encabezado stylos-----*/

header{
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 7rem;
    position: sticky;
    z-index: 100;
    top: 0;
}

.menu-indices:hover{
    color: #0e5b99;
    font-size: 1.7rem;
}

.smooth-scroll{
    text-decoration: none;
    color: #093c66;
}

#container-indices{
    width: 80%;
    text-align: right;
}

#icon-menu{
    margin: 0 !important;
    display: none;
}

#nav{
    display: inline-flex;
    width: 100%;
    text-align: right;
    font-size: 1.5rem;
    transition: all 1s;
}

#header-indices{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    padding: 1rem;
    width: 30rem;
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: rgb(64, 64, 65);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s;

}

#indice-inicio{
    margin: 0.5rem;

}

#indice-blog{
    margin: 0.5rem;

}
#indice-masajes{
    margin: 0.5rem;

}
#indice-nosotros{
    margin: 0.5rem;

}

#header-indices> span:hover{
    color: #0f4a7a;
    font-weight: bold;
    cursor: pointer;
}

#header-indices> span:active{
    text-decoration: underline;
    color:#093c66;
}

@font-face {
    font-family: mikela;
    src: url("../MikelaRegular.otf");
}

#logo{
    width: 105px;
    border-radius: 30%;
    margin-left: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 8rem;
}
/* --------fin encabezado-------*/


/*-----------articulos----------------*/

#set-masajes{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#div-masajes{
    display: block;
    width: 75%;
    padding: 5rem;
    text-align: left;
}

.title-1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    color: #023d6d;
}
.title-2{
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
}

.imagenes-blog{
    width: 28rem;
    height: 17rem;
    border-radius: 7%;
    margin: 1rem;
    margin-left: 7rem;
    justify-content: center;
    align-items: center;
}

.p-articulos{
    font-size: 20.4px;
    font-family: 'Open Sans', sans-serif;
}

.list-ul{
    font-size: 20px;
    color: black;
    font-family: 'Work Sans', sans-serif;
}

.strong{
    font-size: 19px;
    text-decoration: none;
    font-weight: normal;
}

/*--------boton de whatsapp--------*/

#btn-whatssapp{
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 100%;
    z-index: 4;
    cursor: pointer;
    transition: all 1s ease-out;
    transition: display 2s ease-in-out 1s;
}

.btn-whatsapp:hover{
    border-radius:100%;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1); 
    -moz-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
    box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
    transition-duration: 1s;
    } 

    #div-conversacion{
        position: absolute;
        right: 55px;
        bottom: 25px;
    }

    #chat-borbuja{
        display: none;
        position: fixed;
        right: 90px;
        bottom: 35px;
        width: 14rem;
        z-index: 5;
        animation-duration: 10s;
        animation-name: whatsapp;
        animation-iteration-count: 2;
        animation-direction: alternate;
        transition: all 1s ease-out;
        transition: display 2s ease-in-out 1s;
    }

    #perfil-whatsapp{
        display: none;
        border-radius: 47%;
        position: fixed;
        bottom: 37px;
        right: 33px;
        width: 4.3rem;
        animation-duration: 10s;
        animation-name: perfil;
        animation-iteration-count: 2;
        animation-direction: alternate;
        transition: all 1s ease-out;
        transition: display 2s ease-in-out 1s;
    }

    @keyframes perfil {
        20%{
            
            width: 4rem;

        }
        40%{
            width: 4.2rem;
        }

        60%{

            width: 4rem;
        }

        80%{
            width: 4.2rem;
        }

        100%{
            width: 3.8rem;
        }
        
    }

    @keyframes whatsapp {
        20%{
            width: 14rem ;
        }
        40%{
            width: 14.6rem;
        }

        60%{
            width: 14rem;
            
        }
        80%{
            width: 14.6rem;
        }
        100%{
            width: 13.6rem;
        }
    }



/*--------------------pie de pagina--------------*/
.lienzo{
    fill: #ffffff;
}

.foter{
    height: 8rem;
    text-align: left;
    padding: 1rem;
    display: flex;
}

.foter > img{
    width: 140px;
    margin-left: 3rem;
    text-align: center;
    border-radius: 20%;
    position: relative;
}

.list > * {
    list-style-type: none;
    line-height: 1;
}

.list-contactenos{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold ;
    line-height: 1.3rem;
}


.img-red{
    width: 3rem;
    margin: 8px;
}

#div-credits{
    display: flex;
    margin:3px;
    margin-bottom: 0;
    padding: 1px;
    width: 97%;
    text-align: center;
}

#credits{
    font-family: 'Work Sans', sans-serif;
    margin: 1px auto;
    color: #efd3d3;
    font-size: 14px;
    text-align: center;
}

#credits-name{
    text-decoration: underline;
}


.footer{
    padding: 0px;
    background: linear-gradient(15deg, #d155a2,#b4256c);
}

.title-foter{
    font-size: 18px;
    font-family: 'Mochiy Pop One', sans-serif;
    margin-bottom: 3rem;
}

.direcion-tel{
    text-align: left;
    width: 50%;
    margin-left:20%;
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.direccion{
    width: 30%;
    display: block;
    
}

.tel{
    width: 50%;
    display: block;
    font-size: 20px;
    margin-right: 2rem;
}

h4{
    font-weight: normal;
}

.list-contactenos{
    list-style: none;
    padding: 0;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
}

#redes-sociales{
    position: absolute;
    width: 97%;
    display: block;
}

#redes-siguenos{
    position: absolute;
    right: 200px;
    bottom: 110px;
    display: flex;
    font-size: 20px;
    font-family: 'Mochiy Pop One', sans-serif;
}
#redes-imag-div{
    position: absolute;
    bottom: 28px;
    right: 64px;
    display: flex;
}

/*-------------responsi----------------*/

@media screen and (max-width: 850px) {

    #logo{
        margin-left: 36px;
    }

    #icon-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 35px;
        right: 27px;
        width: 55px;
        height: 55px;
        background-color: #ffb29b;
        font-size: 30px;
        border-radius: 50px;
        margin-right: 0;
    }

    #icon-menu:hover{
        background-color: #fc987a;
        cursor: pointer;
    }

    #nav{
        position: fixed;
        top: 0;
        right: 2px;
        padding: 40px;
        width: 170px;
        height: 100vh;
        background-color: #f9f9f9;
        z-index: 1;
        display: none;
        transition: all 1s;
    }

    #header-indices{
        display: flex;
        flex-direction: column;
        height: 50vh;
    }

    #spa-domicilio{
        font-size: 20px;
    }

    .menu-indices{
        margin-top: 30px !important;
        margin-left: 0;
    }
    #back-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        transition: all 1s;
    }




    @media screen  and (max-width:430px){
        
        #div-masajes{
            padding-top: 2rem;
            padding-bottom: 2rem;
            width: 85%;
            padding: 0;
            text-align: justify;
        }

        .imagenes-blog{
            text-align: center;
            margin: auto;
            width: 17rem;
            height: 12rem;
        }
        
        .p-articulos{
            font-size: 18px;
        }
        .title-1{
            font-size: 30px;
        }
        .title-2{
            font-size: 28px;
        }

        .list-ul{
            font-size: 18px;
        }


        #btn-whatssapp{
            bottom: 30px;
            right: 20px;
            width: 3.2rem;
            height: 3.2rem;
        }

        #perfil-whatsapp{
            bottom: 30px;
            right: 20px;
            width: 3rem;
        }

        #chat-borbuja{
            right: 75px;
            bottom: 33px;
            width: 13rem;
            animation-name: whatsapp;
        }
        
        .foter{
            text-align: center;
            justify-content: center;
            padding: 0;
        }
    
        .foter > img{
            display: none;
            height: 4rem;
        }
    
        .direccion{
            width: 43%;
            margin: 0;
        }
    
        .direcion-tel{
            width: 100%;
            margin: 0;
            padding: 0.5rem;
            font-size: 14px;
            display: flex;
        }
    
        .title-foter{
            font-size: 16px;
            font-family: 'Mochiy Pop One', sans-serif;
            margin-bottom: 4rem;
        }
    
        .tel{
            width: 56%;
            font-size: 15px;
            margin: 0;
            
        }
    
        .list-contactenos{
            margin: 1px;
            margin-left: 0;
            font-size: 14px;
            margin-top: 1rem;
            margin-bottom: 1.3rem;
        }
    
        .list-contactenos> li{
            font-size: 14px;
            line-height: 1rem;
            
        }
    
        #redes-sociales{
            position: relative;
            width: 85%;
            height: 4rem;
            display: block;
            padding: 1rem;
            margin-left: 1rem;
            align-items: center;
        }
    
        #redes-siguenos{
            position: absolute;
            left: 1px;
            bottom: 94px;
            display: block;
            font-size: 16px;
            color: black;
            margin-left: 10px;
        }
    
        #redes-imag-div{
            position: relative;
            display: flex;
            padding-left: 2rem;
            padding-top: 1rem;
            margin-left: 1rem;
            width: 99%;
        }
    
        .img-red{
            width: 2.5rem;
        }
    }
}