/*=============Jaime Calderon Alcaraz======*/

html {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0px;
    width: 100%;
  }
  
  #boton {
    background-color: #06113c;
    margin: 0px;
    padding: 0.6em;
  }
  
  label {
    color: aliceblue;
    font-size: 1em;
    text-transform: capitalize;
  }
  
  header {
    background-color: #06113c;
    color: beige;
    margin-bottom: 1rem;
  }
  header h1 {
    text-align: center;
    font-size: 3.3vw;
    margin: 0;
    padding: none;
    padding-bottom: 1em;
    font-family: "Tapestry", cursive;
  }
  
  header img {
    width: 5vw;
    position: absolute;
    top: 6%;
    right: 8%;
    border: 0.2rem solid white;
    border-radius: 1rem;
    padding: 0;
  }
  
  /* hasta aca llega la parte del encabezado*/
  
  section {
    width: 94%;
    margin: 0;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem 1rem;
    display: inline-block;
  }
  section p {
    color: black;
    text-align: left;
    border-radius: 1rem;
    padding: 1rem 1rem;
    font-size: 1.2em;
    font-family: "Dancing Script";
    float: left;
    width: 70%;
    height: auto;
    margin: 2rem;
  }
  
  @media all and (min-width: 900px) {
    .parrafos:hover {
      box-shadow: 0.3rem 0.2rem 0.4rem rgb(136, 136, 136);
      margin: 0.5rem;
      transition: 0.3s ease;
      font-size: 1.5em;
    }
  }
  
  article > p > span {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  article {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
  }
  
  article > figure {
    float: right;
    position: absolute;
    right: -1%;
    top: 2%;
  }
  
  figure {
    width: 270px;
    right: 263px;
    border: 0.2rem solid black;
    border-radius: 20%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    right: 0;
  }
  
  #figura- {
    background-color: yellow;
   
    border: 0.3rem solid black;
    border-radius: 20%;
    position: absolute;
    display: inline-block;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  h2,
  h3 {
    text-align: left;
    color: black;
    font-size: 2em;
    font-family: "Bebas Neue", cursive;
    width: 50%;
    margin: 1rem;
    padding: 0;
  }
  
  section > hr {
    position: relative;
    width: 90%;
    margin: 1rem;
  }
  
  figure img {
    width: 20vw;
    border-radius: 20%;
    padding: 0;
    margin: 0;
    position: relative;
  }
  
  figcaption {
    position: absolute;
    left: 0;
    bottom: -0.8px;
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    border: 0.4rem solid black;
    border-bottom: 1rem;
    width: 94%;
    padding: 3%;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 0;
    visibility: hidden;
    opacity: 0;
  }
  
  figure:hover figcaption {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 1.5s;
  }
  
  footer {
    background-color: #151d3b;
    display: block;
    text-align: center;
    color: white;
    padding: 1%;
    margin-top: 1%;
  }
  
  footer a {
    color: rgb(136, 43, 228);
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  footer a:hover {
    color: #b1d0e0;
  }
  footer p {
    font-size: 0.8rem;
  }
  
  #copy > p {
    padding: 0;
    font-style: italic;
    color: #7d88aa;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
  
  }
  .imagenesgrandes{
    height: 285px;
    width: 270px;
  
  
  }
  #imagen1{
    width:270px;
    height: 270px;
    right: -15px;
    top: -5px;
  }
  #imagen3{
    width: 280px;
    height: 289px;
    bottom: 0px;
    margin: 0;
    padding: 0;
    left: -4px;
    
  }
  .correo{
    width: 1rem;
    position: absolute;
    display: block;
    text-align: left;
    left: 43%;
  }
  @media only screen and (max-width: 900px) {
    .body {
      display: block;
      padding: 0;
      background-color: #aaa;
    }
  
    #conteiner {
      display: block;
      width: 90%;
      padding: 0.5rem;
      margin: 0.5rem;
    }
  
    #boton {
      display: none;
    }
    .encabezado {
      margin: 0;
      padding: 1rem;
      height: 3rem;
    }
    .encabezado h1 {
      font-size: 20px;
    }
  
    .encabezado img {
      display: none;
    }
    .parrafos {
      margin: 0;
      width: 90%;
      text-align: center;
    }
  
    .imagenesgrandes  {
      position: relative;
      text-align: center;
      width: 200px;
      height: 200px;
      right: 3rem;
    }
     .imagenes{
      width: 210px;
      height: 200px;
      top: 0px;
    }
    .imglogos{
      width: 1.8rem;
      margin: 1rem;
      background-color: white;
      border: white solid 5px;
      border-radius: 50%;
  
    }
    .correo{
      left: 20%;
      display: flex;
      
  
    }
    
    
      }
  
  
      
      #logos{
        text-align: center;
        display: inline-block;
        width: 16rem;
        height: 6rem;
        left: 0 auto;
  
      }
      #ul {
        width: 15rem;
        height: 5rem;
        text-align: center;
        display: flex;
        padding: 0;
      }
      
      .imglogos{
        width: 2.3rem;
        margin: 1rem;
        background-color: white;
        border: white solid 5px;
        border-radius: 50%;
  
      }
      
      
      #div {
        background-color: white;
        border-radius: 50%;
        border: solid white 5px;
        width: 2.3rem;
        margin: 1rem ;
      }
      .imglogo{
        width: 2.3rem;
        margin: 1rem;
        position: relative;
        top: -15px;
        left: -15px;
      }
      #correo{
        color: tomato;
        font-size: 13px;
        margin: 0;
        top: 0rem;
        left: 0rem;
        position: relative;
      
      }
     
      footer{
        font-size: 14px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
      }
      #piedepagina{
        margin: 1rem;
      }