


body{
    text-align: left;
    margin: 0;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: .2px;
}

/*   ------styles barra de scroll-------*/

#body-scroll::-webkit-scrollbar{
    width: 11px;
    background-color: #facabc;
}

#body-scroll::-webkit-scrollbar-thumb{
    background-color: #ff9778;
    width: 9px;
    border-radius: 6px;
}

/*  -----encabezado stylos-----*/

header{
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 7rem;
    position: sticky;
    z-index: 100;
    top: 0;
}

.menu-indices:hover{
    color: #0e5b99;
    font-size: 1.7rem;
}

.smooth-scroll{
    text-decoration: none;
    color: #093c66;
}

#container-indices{
    width: 80%;
    text-align: right;
}

#icon-menu{
    margin: 0 !important;
    display: none;
}

#nav{
    display: inline-flex;
    width: 100%;
    text-align: right;
    font-size: 1.5rem;
    transition: all 1s;
}

#header-indices{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    padding: 1rem;
    width: 30rem;
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: rgb(64, 64, 65);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s;

}

#indice-inicio{
    margin: 0.5rem;

}

#indice-blog{
    margin: 0.5rem;

}
#indice-masajes{
    margin: 0.5rem;

}
#indice-nosotros{
    margin: 0.5rem;

}

#header-indices> span:hover{
    color: #0f4a7a;
    font-weight: bold;
    cursor: pointer;
}

#header-indices> span:active{
    text-decoration: underline;
    color:#093c66;
}

@font-face {
    font-family: mikela;
    src: url("../MikelaRegular.otf");
}

#logo{
    width: 105px;
    border-radius: 30%;
    margin-left: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 8rem;
}


/* --------fin encabezado-------*/


/*  -----setion introducio------*/

#intro{
    width: 100%;
    height: 34rem;
    margin-bottom: 2rem;
    text-align: left;
    background-image: 
    url(https://www.wecasa.fr/packs/media/images/massage/cover-desktop-faa735881869283edf06fce8b1fe221f.jpg);
    display: flex;
    min-height: 33.3333333333rem;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#div-intro{
padding: 2rem;
margin-left: 2rem;
height: 26rem;
width: 70%;
}

#fondo-image{
    width: 100%;
    height: 34rem;
    position: absolute;
    z-index: -3;
    display: none;
    
}


#title{
    font-size: 65px;
    font-family: Mikela;
    color: #103655;
    margin-bottom: 0;
}
#cero-span{
    line-height: 1rem;
    display: block;
}

#one-span{
    font-family: 'Lato', sans-serif;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 1.6rem;
    color: #103655;
    display: inline-block;
}

.two-span{
    font-size: 1.1333333333rem;
    padding: .2333333333rem .5rem;
    line-height:normal;
    color:white;
    display: inline-block;
    transform: rotate(-10deg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 0.5rem;
    background-color: #103655;
}

#reserve{
    width: 12.5rem;
    height: 3.5rem;
    text-align: left;
    background-color: #ea663f;
    border-radius:33rem ;
    justify-content: center;
    margin-top: 6rem;
}

#reserve > a{
    position: absolute;
    margin-top: 0.8rem;
    margin-left: 0.2rem;
    display: inline-flex;
    padding: .2rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*--------setion como funcionan servicios---------*/

#se-comofuncionaservicios{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-servicios{
    text-align: center;
    font-size: 2rem;
    font-family: 'Mochiy Pop One', sans-serif;
    color: #103655;
}

#div-comofuncionaservicios{
    display: flex;
    text-align: center;
}

.image-servicios{
    width: 13rem;
    max-width: 98%;
}

#agenda{
    padding: 2rem;
    align-items: center;
}
#vamosati{
    padding: 2rem;
    align-items: center;
}
#disfruta{
    padding: 2rem;
    padding-top: 3rem;
    align-items: center;
}

.title-h3{
    font-size: 1.7rem;
    font-family: mikela;
    color: rgb(64, 64, 65); 
}

.description{
    font-size: 1.1rem;
    font-family: 'Work Sans', sans-serif;
}


/*---------------setion de masages-------------*/

#setion-massaje{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;
    background-color: #f9f9f9;
    margin: 0;
    width: 100%;
    position: static;
    z-index: auto; 
    float: none;
    padding: 1rem;
    padding-left: 0;
    padding-right: 0;
}

.massage{
width: 23%;
text-align: center;
position: relative;
display: block;
margin: 10px;
padding: 0.2rem;
border-radius: 15%;
}


.precio{
font-size: 22px;
line-height: 1.8rem;
font-weight: bold;
}

.tipodemasaje{
    display: flex;
    justify-content: space-around;
    padding: 0 1rem;
}

.pointercursor{
    cursor: pointer;
}


/* --------setion descripcion-----------*/

#section-icon-description{
    padding: 3rem;
    background-color: transparent;
    background-image: linear-gradient(180deg,#efd3d3 0,#fff 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container-icon-description{
    text-align: center;
    height: 26rem;
    display: flex;
    align-items: center;
}

.container-icon{
    width: 23%;
    height: 26rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 1rem;
    text-align: center;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    align-items: center;
}

.title-icon{
    font-size: 24px;
    font-weight: bold;
    color: #ea663f;
    text-align: center;
    margin: auto;
    margin-bottom: 0.5rem;
}

.elementor-icon{
    width: 8rem;
    margin: 0.5rem auto;
    display: inline-block;
}


/*--------------------pie de pagina--------------*/

.lienzo{
    fill: #ffffff;
}

.foter{
    height: 8rem;
    text-align: left;
    padding: 1rem;
    display: flex;
}

.foter > img{
    width: 140px;
    margin-left: 3rem;
    text-align: center;
    border-radius: 20%;
    position: relative;
}

.list-contactenos{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold ;
    line-height: 1.3rem;
}


.img-red{
    width: 3rem;
    margin: 8px;
}

#div-credits{
    display: flex;
    margin:3px;
    margin-bottom: 0;
    padding: 1px;
    width: 97%;
    text-align: center;
}

#credits{
    font-family: 'Work Sans', sans-serif;
    margin: 1px auto;
    color: #efd3d3;
    font-size: 14px;
    text-align: center;
}

#credits-name{
    text-decoration: underline;
}


.footer{
    padding: 0px;
    background: linear-gradient(15deg, #d155a2,#b4256c);
}

.title-foter{
    font-size: 18px;
    font-family: 'Mochiy Pop One', sans-serif;
    margin-bottom: 3rem;
}

.direcion-tel{
    text-align: left;
    width: 50%;
    margin-left:20%;
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.direccion{
    width: 30%;
    display: block;
    
}

.tel{
    width: 50%;
    display: block;
    font-size: 20px;
    margin-right: 2rem;
}

h4{
    font-weight: normal;
}

.list-contactenos{
    list-style: none;
    padding: 0;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
}

#redes-sociales{
    position: absolute;
    width: 97%;
    display: block;
}

#redes-siguenos{
    position: absolute;
    right: 200px;
    bottom: 110px;
    display: flex;
    font-size: 20px;
    font-family: 'Mochiy Pop One', sans-serif;
}
#redes-imag-div{
    position: absolute;
    bottom: 28px;
    right: 64px;
    display: flex;
}


/*------------Responsi------------*/


@media screen and (max-width: 850px) {

    #intro{
        background-position: top left;
    }

    #icon-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 35px;
        right: 27px;
        width: 55px;
        height: 55px;
        background-color: #ffb29b;
        font-size: 30px;
        border-radius: 50px;
        margin-right: 0;
    }

    #icon-menu:hover{
        background-color: #fc987a;
        cursor: pointer;
    }
    
    #nav{
        position: fixed;
        top: 0;
        right: 2px;
        padding: 40px;
        width: 250px;
        height: 100vh;
        background-color: #f9f9f9;
        z-index: 1;
        display: none;
        transition: all 1s;
    }

    #header-indices{
        display: flex;
        flex-direction: column;
        height: 50vh;
    }

    .menu-indices{
        margin-top: 30px !important;
        margin-left: 0;
    }
    #back-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        transition: all 1s;
    }

    #agenda{
        padding: 0.5rem;
        width: 32%;
    }

    #vamosati{
        padding: 0.5rem;
        width: 32%;
    }

    #disfruta{
        padding: 0.5rem;
        width: 32%;
    }



    #container-icon-description{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .container-icon{
        width: 45%;
    }

    .title-icon{
        font-size: 27px;
    }




    @media screen  and (max-width:430px){

        #intro{
        background-position: top left;
    }

    #logo{
        margin-left: 36px;
    }

    #div-intro{
        width: 95%;
        text-align: center;
        margin-left:0;
    }

    #title{
        font-size: 42px;
    }

    #one-span{
        font-size: 24px;
        text-align: left;
        line-height: 1.9rem;
    }
    .two-span{
        position: absolute;
        top: 360px;
        left: 198px;

    }

    #icon-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 35px;
        right: 27px;
        width: 55px;
        height: 55px;
        background-color: #ffb29b;
        font-size: 30px;
        border-radius: 50px;
        margin-right: 0;
    }

    #icon-menu:hover{
        background-color: #fc987a;
        cursor: pointer;
    }
    
    #nav{
        position: fixed;
        top: 0;
        right: 2px;
        padding: 40px;
        width: 170px;
        height: 100vh;
        background-color: #f9f9f9;
        z-index: 1;
        display: none;
        transition: all 1s;
    }

    #header-indices{
        display: flex;
        flex-direction: column;
        height: 50vh;
    }

    .menu-indices{
        margin-top: 30px !important;
        margin-left: 0;
    }
    #back-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        transition: all 1s;
    }

    #div-comofuncionaservicios{
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
    }

    .title-h3{
        font-size: 30px;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }

    .description{
        font-size: 20px;
    }

    #title-servicios{
        font-size: 25px;
    }

    #agenda{
        padding: 0.5rem;
        width: 90%;
    }

    #vamosati{
        padding: 0.5rem;
        width: 90%;
    }

    #disfruta{
        padding: 2rem;
        width: 90%;
    }


    #container-icon-description{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .container-icon{
        width: 90%;
        height: auto;
    }

    .title-icon{
        font-size: 27px;
    }

    .foter{
        text-align: center;
        justify-content: center;
        padding: 0;
    }

    .foter > img{
        display: none;
        height: 4rem;
    }

    .direccion{
        width: 43%;
        margin: 0;
    }

    .direcion-tel{
        width: 100%;
        margin: 0;
        padding: 0.5rem;
        font-size: 14px;
        display: flex;
    }

    .title-foter{
        font-size: 16px;
        font-family: 'Mochiy Pop One', sans-serif;
        margin-bottom: 4rem;
    }

    .tel{
        width: 56%;
        font-size: 15px;
        margin: 0;
        
    }

    .list-contactenos{
        margin: 1px;
        margin-left: 0;
        font-size: 14px;
        margin-top: 1rem;
        margin-bottom: 1.3rem;
    }

    .list-contactenos> li{
        font-size: 14px;
        line-height: 1rem;
        
    }

    #redes-sociales{
        position: relative;
        width: 85%;
        height: 4rem;
        display: block;
        padding: 1rem;
        margin-left: 1rem;
        align-items: center;
    }

    #redes-siguenos{
        position: absolute;
        left: 1px;
        bottom: 94px;
        display: block;
        font-size: 16px;
        color: black;
        margin-left: 10px;
    }

    #redes-imag-div{
        position: relative;
        display: flex;
        padding-left: 2rem;
        padding-top: 1rem;
        margin-left: 1rem;
        width: 99%;
    }

    .img-red{
        width: 2.5rem;
    }
    }
}